:root {
  --primary-color: #f7f2ee;
  --secondary-color: #7e625cc5;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  margin-top: 100px;
}
body html {
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
  margin-top: 16px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 0;
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}
.navbar {
  background: var(--primary-color);
}
.navbar-brand,
.nav-link {
  color: var(--secondary-color);
}
.on-page {
  text-decoration: underline;
  color: var(--secondary-color) important!;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}

.about-link {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

.homepage-link {
  color: var(--secondary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: var(--secondary-color);
}
.container {
  max-width: 1320px;
}
.about-paragraph {
  margin: 30px 10px;
  text-align: center;
}
@media (max-width: 575.98px) {
  h1 {
    font-size: 72px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    margin-top: 10px;
  }

  p {
    text-align: center;
  }
  .paragraph-link {
    text-align: center;
  }
  .about-image {
    margin-top: 10px;
  }
  .contact-me {
    font-size: 30px;
  }
  .email-link {
    font-size: 18px;
  }
}
